html
  head
    title Índice
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
        $('#crearEmpresa').click(function() {
        alert($('#empresa').val());
        });
        });

  body
    | Empresa:&nbsp
    input#empresa(type="text", name="empresa")
    br
    br
    | Alumno:&nbsp
    input(type="text", name="alumno")
    | &nbspCalificación:&nbsp
    input(type="text", name="calificacion")

    ul
      li
        a#crearEmpresa(href='http://127.0.0.1:3000/crearEmpresa') Crear empresa
      li
        a(href='http://127.0.0.1:3000/listarTodo') Listar todo
      li
        a(href='http://127.0.0.1:3000/crearCalificacion') Crear calificación
      li Listar calificaciones
      li Borrar calificación
      li Ranking empresas

    mensaje!=mensaje

    if(datos)
      table
        thead
          tr
            th Alumno
            th Calificación
        tbody
          each dato in datos
            tr
              td=dato.alumno
              td=dato.calificacion
