html
  head
    title Calificación de empresas de prácticas
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
        $('#crearEmpresa').click(function() {
          if ($('#empresa').val()){
            $('#crearEmpresa').attr('href', 'http://127.0.0.1:3000/crearEmpresa/:' + $('#empresa').val());
          } else {
            alert("No se puede crear una empresa sin introducir su nombre.");
          }
        });
        $('#listarCalificaciones').click(function() {
          if ($('#empresa').val()){
            $('#listarCalificaciones').attr('href', 'http://127.0.0.1:3000/listarCalificaciones/:' + $('#empresa').val());
          } else {
            alert("No se pueden listar las calificaciones de una empresa sin introducir su nombre.");
          }
        });
        $('#crearCalificacion').click(function() {
          if ($('#empresa').val() && $('#alumno').val() && $('#calificacion').val()){
            $('#crearCalificacion').attr('href', 'http://127.0.0.1:3000/crearCalificacion/:' + $('#empresa').val() + '/:' + $('#alumno').val() + '/:' + $('#calificacion').val());
          } else {
            alert("No se puede crear una calificación sin introducir el nombre de la empresa, el nombre del alumno y el valor de la calificación.");
          }
        });
        $('#borrarCalificacion').click(function() {
          if ($('#empresa').val() && $('#alumno').val()){
            $('#borrarCalificacion').attr('href', 'http://127.0.0.1:3000/borrarCalificacion/:' + $('#empresa').val() + '/:' + $('#alumno').val());
          } else {
            alert("No se puede borrar una calificación sin introducir el nombre de la empresa y el nombre del alumno.");
          }
        });
        $('#actualizarCalificacion').click(function() {
          if ($('#empresa').val() && $('#alumno').val() && $('#calificacion').val()){
            $('#actualizarCalificacion').attr('href', 'http://127.0.0.1:3000/actualizarCalificacion/:' + $('#empresa').val() + '/:' + $('#alumno').val() + '/:' + $('#calificacion').val());
          } else {
            alert("No se puede actualizar una calificación sin introducir el nombre de la empresa, el nombre del alumno y el valor de la calificación.");
          }
        });
      });

  body
    | Empresa:&nbsp
    input#empresa(type='text', name='empresa')
    br
    br
    | Alumno:&nbsp
    input#alumno(type='text', name='alumno')
    | &nbspCalificación:&nbsp
    input#calificacion(type='text', name='calificacion')

    ul
      li
        a#crearEmpresa(href='http://127.0.0.1:3000/crearEmpresa') Crear empresa
      li
        a#listarCalificaciones(href='http://127.0.0.1:3000/listarCalificaciones') Listar calificaciones
      li
        a#crearCalificacion(href='http://127.0.0.1:3000/crearCalificacion') Crear calificación
      li
        a#borrarCalificacion(href='http://127.0.0.1:3000/borrarCalificacion') Borrar calificación
      li
        a#actualizarCalificacion(href='http://127.0.0.1:3000/actualizarCalificacion') Actualizar calificación
      li Ranking empresas

    mensaje!=mensaje

    if(datos)
      strong Empresa:
      p=empresa

      table
        thead
          tr
            th Alumno
            th Calificación
        tbody
          each dato in datos
            tr
              td=dato.alumno
              td=dato.calificacion
