html
  head
    title='Índice'
  body
    ul
      li
        a(href='http://127.0.0.1:3000/crearEmpresa') Crear empresa
      li Listar calificaciones
      li Crear calificaciones
      li Borrar calificaciones
      li Ranking empresas
